.footer {
  width: 100%;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 36px;
  padding: 10px 36px;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
}
